# ── MongoDB ──
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=your_mongo_password
MONGO_URI=mongodb://admin:your_mongo_password@mongodb:27017/admin?authSource=admin

# ── PostgreSQL ──
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=payment_service_db

# ── Auth ──
JWT_SECRET=your_jwt_secret_key

# ── Redis ──
REDIS_HOST=redis
